.chat {
  background-color: #313339;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .chatMessageWrap {
    flex-grow: 1;
  }

  .chatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #474b53;
    border-radius: 5px;
    margin: 20px;
    color: #6d6f78;

    form {
      flex-grow: 1;

      input {
        padding: 15px;
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        width: 100%;
      }

      .chatInputButton {
        display: none;
      }
    }

    .chatInputIcons {
      .MuiSvgIcon-root {
        padding: 5px;
      }
    }
  }
}
