@import "../../styles/variables.scss";

.chatInputArea {
  margin-top: 16px;
  background-color: var(--owl-color-primary);
  border-radius: var(--owl-border-radius);
  color: #6d6f78;
  padding: 16px;

  .chatInputAddIcon {
    width: 24px;
    height: 24px;
    path {
      color: #fff;
    }
  }

  .chatInputForm {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 100%;
      flex-grow: 1;
      padding: 16px 16px 16px 8px;
      background: transparent;
      color: #fff;
      border: none;
      outline: none;
      font-size: var(--owl-font-size-small);
      @include breakPoint("sp") {
        font-size: var(--owl-spacing-medium);
      }
    }
  }
}
