.chatMessage {
  padding: 8px;
  background-color: #fff;

  & + .chatMessage {
    margin-top: 8px;
  }

  .messageInfo {
    display: flex;
    align-items: center;

    .MuiAvatar-root {
      width: 32px;
      height: 32px;
    }
  }

  .userName,
  .messageTime {
    margin-left: 16px;
  }

  .messageTime {
    color: var(--owl-color-secondary);
  }

  .messageData {
    margin-top: 16px;
  }
}
