@import "../..//styles/variables.scss";

.chatMessage {
  padding: 16px;
  background-color: var(--owl-color-background-light);
  border-radius: var(--owl-border-radius);
  display: flex;

  & + .chatMessage {
    margin-top: 8px;
  }

  .MuiAvatar-root {
    width: 32px;
    height: 32px;
  }

  .messageWrap {
    flex-grow: 1;
    margin-left: 8px;
    margin-top: 11px;
  }

  .messageBody {
    font-size: var(--owl-font-size-small);
  }

  .messageInfo {
    font-size: var(--owl-font-size-small-v2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .messageTime {
    margin-left: 12px;
  }
}
